In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('labeled_new_0829_1003.xlsx')

In [5]:
df = df.iloc[:,1:]

In [6]:
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,s_rate,quality
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,50.0,1
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,37.5,1
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.0,1
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,20.0,1
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.0,1

In [7]:
df.shape

(1003, 15)

In [8]:
df[df['a_source'].isnull()]

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,s_rate,quality
580,대구일보,318114445,"대구FC, 3연승 도전...물 오른 공격력 서울전 공략",대구 세징야가 지난 수원과 경기에서 수비진을 따돌리고 돌파하고 있다.\r\n\r\n...,734,1,NaN,13,15,0,7,2,0,46.666667,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   media     1003 non-null   object
 1   a_num     1003 non-null   int64
 2   title     1003 non-null   object
 3   content   1003 non-null   object
 4   w_num     1003 non-null   int64
 5   c_source  1003 non-null   int64
 6   a_source  1002 non-null   float64
 7   s_num     1003 non-null   int64
 8   v_num     1003 non-null   int64
 9   nf_verb   1003 non-null   int64
 10  s_verb    1003 non-null   int64
 11  reporter  1003 non-null   int64
 12  non_text  1003 non-null   int64
 13  s_rate    999 non-null    float64
 14  quality   1003 non-null   int64
dtypes: float64(2), int64(10), object(3)
memory usage: 117.7+ KB

In [10]:
df = df.fillna(0)

In [11]:
df.shape

(1003, 15)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   media     1003 non-null   object
 1   a_num     1003 non-null   int64
 2   title     1003 non-null   object
 3   content   1003 non-null   object
 4   w_num     1003 non-null   int64
 5   c_source  1003 non-null   int64
 6   a_source  1003 non-null   float64
 7   s_num     1003 non-null   int64
 8   v_num     1003 non-null   int64
 9   nf_verb   1003 non-null   int64
 10  s_verb    1003 non-null   int64
 11  reporter  1003 non-null   int64
 12  non_text  1003 non-null   int64
 13  s_rate    1003 non-null   float64
 14  quality   1003 non-null   int64
dtypes: float64(2), int64(10), object(3)
memory usage: 117.7+ KB

In [13]:
df.to_excel('labeled_new_0831_1003.xlsx', index=False)

In [17]:
df1 = pd.read_excel('labeled_new_0831_1003.xlsx')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   media     1003 non-null   object
 1   a_num     1003 non-null   int64
 2   title     1003 non-null   object
 3   content   1003 non-null   object
 4   w_num     1003 non-null   int64
 5   c_source  1003 non-null   int64
 6   a_source  1003 non-null   int64
 7   s_num     1003 non-null   int64
 8   v_num     1003 non-null   int64
 9   nf_verb   1003 non-null   int64
 10  s_verb    1003 non-null   int64
 11  reporter  1003 non-null   int64
 12  non_text  1003 non-null   int64
 13  s_rate    1003 non-null   float64
 14  quality   1003 non-null   int64
dtypes: float64(1), int64(11), object(3)
memory usage: 117.7+ KB

In [202]:
# 투명 취재원 4명 이상 + 기자 2명 + 주관적 서술어 0.5 이상
# 1점: 비문일 경우
# 5점 만점에서 항목 당 만족하지 않는 경우마다 -1점

In [12]:
df['ratio_sub'] = df['s_verb']/df['v_num']

In [13]:
df['ratio_sub'] = df['ratio_sub'].fillna(0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   media      1003 non-null   object
 1   a_num      1003 non-null   int64
 2   title      1003 non-null   object
 3   content    1003 non-null   object
 4   w_num      1003 non-null   int64
 5   c_source   1003 non-null   int64
 6   a_source   1003 non-null   float64
 7   s_num      1003 non-null   int64
 8   v_num      1003 non-null   int64
 9   nf_verb    1003 non-null   int64
 10  s_verb     1003 non-null   int64
 11  reporter   1003 non-null   int64
 12  non_text   1003 non-null   int64
 13  ratio_sub  1003 non-null   float64
dtypes: float64(2), int64(9), object(3)
memory usage: 109.8+ KB

In [15]:
df.shape

(1003, 14)

In [16]:
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000

In [17]:
df['trust'] = 5

for i in range(df.shape[0]):
    if df['c_source'][i] < 4:
        df['trust'][i] -= 1
    
    if df['reporter'][i] < 2:
        df['trust'][i] -=1
    
    if df['ratio_sub'][i] > 0.5:
        df['trust'][i] -= 1
        
    if df['non_text'][i] == 1:
        df['trust'][i] = 1

df.head(10)

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500000,4
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375000,3
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000000,3
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200000,4
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000000,3
5,경기일보,329412786,"김포대, 중소기업 채용조건형 영마이스터 계약학과 주관대학 선정",양형찬 기자 \r\n김포대학교(총장 김재복)는 4차 산업혁명 등 미래 유망분야 중소...,1149,2,2.0,9,11,0,0,1,0,0.000000,3
6,경기일보,329427450,올 신년연휴 인천공항에 1일 평균 19만명 몰린다... 동계성수기 역대 최다 이용객 전망,양광범 기자 \r\n올 신년 연휴기간 인천국제공항을 이용하는 여행객이 119만7천여...,822,1,2.0,11,10,1,0,1,0,0.000000,3
7,경기일보,329437110,올해부터 수도권·녹지 ‘첨단업종’ 공장 신·증설 허용,류택현 경기지역 ‘新산업’ 유치 날개달아\r\nVR·AR·3D 프린팅·전기차 등 4...,1141,3,4.0,17,10,0,7,1,0,0.700000,2
8,경기일보,329437128,"산업부, 새해부터 수도권서 첨단업종 공장 신증설 허용","권혁준 기자 \r\n올해부터 가상현실(VR)과 증강현실(AR), 전기차 등 경기지역...",1094,3,4.0,14,17,0,4,1,0,0.235294,3
9,경기일보,329524162,"동남아 평정 ‘박항서 매직’ 베트남, 이번엔 아시안컵 정조준",황선학 기자 ▲ 박항서 베트남 축구대표팀 감독.경기일보 DB \r\n박항서 감독의 ...,991,2,0.0,11,11,1,7,1,1,0.636364,1

In [13]:
#df.to_csv('labeled_trust_data_1.csv', index=False, encoding='euc-kr')

In [18]:
def size(x):
    if x < 1000:
        return '소'
    elif 1000 <= x < 1500:
        return '중'
    else:
        return '대'

df['text_size'] = df['w_num'].apply(size)

In [19]:
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소

In [20]:
def acc(x):
    if x == '대':
        return 3
    elif x == '중':
        return 2
    else:
        return 1
df['inform'] = df['text_size'].apply(acc)
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중,2
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중,2
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소,1
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소,1
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소,1

In [21]:
df['tot_source'] = df['c_source'] + df['a_source']
df['ratio_source'] = df['c_source']/df['tot_source']
df['ratio_sub'] = df['s_verb']/df['v_num']
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중,2,7.0,0.857143
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중,2,4.0,0.750000
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소,1,2.0,1.000000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소,1,12.0,0.750000
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소,1,2.0,1.000000

In [22]:
for i in range(df.shape[0]):
    if df['ratio_source'][i] >= 0.5:
        df['inform'][i] += 1
    
    if df['ratio_sub'][i] <= 0.5:
        df['inform'][i] += 1

df.head()

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중,4,7.0,0.857143
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중,4,4.0,0.750000
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소,3,2.0,1.000000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소,3,12.0,0.750000
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소,3,2.0,1.000000

In [23]:
df.shape[0]

1003

In [24]:
df1 = df.copy()
df1.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중,4,7.0,0.857143
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중,4,4.0,0.750000
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소,3,2.0,1.000000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소,3,12.0,0.750000
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소,3,2.0,1.000000

In [25]:
df['inform'].value_counts()

3    559
4    279
2    103
5     52
1     10
Name: inform, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   media         1003 non-null   object
 1   a_num         1003 non-null   int64
 2   title         1003 non-null   object
 3   content       1003 non-null   object
 4   w_num         1003 non-null   int64
 5   c_source      1003 non-null   int64
 6   a_source      1003 non-null   float64
 7   s_num         1003 non-null   int64
 8   v_num         1003 non-null   int64
 9   nf_verb       1003 non-null   int64
 10  s_verb        1003 non-null   int64
 11  reporter      1003 non-null   int64
 12  non_text      1003 non-null   int64
 13  ratio_sub     999 non-null    float64
 14  trust         1003 non-null   int64
 15  text_size     1003 non-null   object
 16  inform        1003 non-null   int64
 17  tot_source    1003 non-null   float64
 18  ratio_source  974 non-null    float64
dtypes: float64(4), int64(11), object(4)
memory usage: 149.0+ KB

In [27]:
df['ratio_source'] = df['ratio_source'].fillna(0)

In [28]:
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.0,18,16,0,8,1,0,0.500,4,중,4,7.0,0.857143
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.0,14,16,0,6,1,0,0.375,3,중,4,4.0,0.750000
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.0,9,10,0,0,1,0,0.000,3,소,3,2.0,1.000000
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.0,9,10,0,2,1,0,0.200,4,소,3,12.0,0.750000
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.0,8,8,0,0,1,0,0.000,3,소,3,2.0,1.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   media         1003 non-null   object
 1   a_num         1003 non-null   int64
 2   title         1003 non-null   object
 3   content       1003 non-null   object
 4   w_num         1003 non-null   int64
 5   c_source      1003 non-null   int64
 6   a_source      1003 non-null   float64
 7   s_num         1003 non-null   int64
 8   v_num         1003 non-null   int64
 9   nf_verb       1003 non-null   int64
 10  s_verb        1003 non-null   int64
 11  reporter      1003 non-null   int64
 12  non_text      1003 non-null   int64
 13  ratio_sub     999 non-null    float64
 14  trust         1003 non-null   int64
 15  text_size     1003 non-null   object
 16  inform        1003 non-null   int64
 17  tot_source    1003 non-null   float64
 18  ratio_source  1003 non-null   float64
dtypes: float64(4), int64(11), object(4)
memory usage: 149.0+ KB

In [30]:
df[df['ratio_sub'].isnull()]

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source
96,경남신문,329603139,울산시 인사 명단,◇2급 승진 \r\n△의회사무처장 김화진.\r\n\r\n◇3급 승진 \r\n△시민안...,1585,0,0.0,0,0,0,0,0,0,NaN,3,대,3,0.0,0.0
181,경남신문,329664903,"창원·진주·김해·양산·거제시장 ""신년에는...""",“주력산업 체질 개선하고 혁신성장 기반 강화” 허성무 창원시장\r\n\r\n2018...,1753,0,0.0,0,0,0,0,0,1,NaN,1,대,3,0.0,0.0
309,경남신문,329695923,울산시 인사,울산시 ●승진 ●2급 △의회사무처장 김화진 ●3급 △시민안전실장 직대 김윤일 △인재...,743,50,0.0,56,0,0,0,0,1,NaN,1,소,2,50.0,1.0
895,기호일보,350853805,성남시,◇승진 <4급>▶복지국장 장현자 ▶평생학습원장 최중욱 ▶의회사무국장 류진열 ▶도시주...,1075,83,0.0,2,0,0,0,0,1,NaN,1,중,3,83.0,1.0

In [31]:
df['ratio_sub'] = df['ratio_sub'].fillna(0)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   media         1003 non-null   object
 1   a_num         1003 non-null   int64
 2   title         1003 non-null   object
 3   content       1003 non-null   object
 4   w_num         1003 non-null   int64
 5   c_source      1003 non-null   int64
 6   a_source      1003 non-null   float64
 7   s_num         1003 non-null   int64
 8   v_num         1003 non-null   int64
 9   nf_verb       1003 non-null   int64
 10  s_verb        1003 non-null   int64
 11  reporter      1003 non-null   int64
 12  non_text      1003 non-null   int64
 13  ratio_sub     1003 non-null   float64
 14  trust         1003 non-null   int64
 15  text_size     1003 non-null   object
 16  inform        1003 non-null   int64
 17  tot_source    1003 non-null   float64
 18  ratio_source  1003 non-null   float64
dtypes: float64(4), int64(11), object(4)
memory usage: 149.0+ KB

In [33]:
df['inform'].value_counts()

3    559
4    279
2    103
5     52
1     10
Name: inform, dtype: int64

In [ ]:
익명취재원의 수 / 미확인 서술어 / 투명 취재원
1. 미확인 서술어는 1개 이상을 1점 차감한다.
2. 익명 취재원은 1명 이상을 1점 차감한다.
3. 투명 취재원/익명 취재원 이 1보다 작을경우 1점 차감한다.
4. 비문일 경우 1점 차감한다.

In [34]:
df['acc'] = 5
df['a_source'] = df['a_source'].astype('float')

for i in range(df.shape[0]):
    if df['nf_verb'][i] > 0:
        df['acc'][i] -= 1
    
    if df['a_source'][i] >= 1:
        df['acc'][i] -= 1
    
    if df['a_source'][i] == 0:
        df['a_source'][i] = 0.01
        if df['c_source'][i] / df['a_source'][i] < 1:
            df['acc'][i] -= 1
            
    elif df['a_source'][i] != 0:
        if df['c_source'][i] / df['a_source'][i] < 1:
            df['acc'][i] -= 1
    
    if df['non_text'][i] == 1:
        df['acc'][i] -= 1

df.head()

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source,acc
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.00,18,16,0,8,1,0,0.500,4,중,4,7.0,0.857143,4
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.00,14,16,0,6,1,0,0.375,3,중,4,4.0,0.750000,4
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.01,9,10,0,0,1,0,0.000,3,소,3,2.0,1.000000,5
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.00,9,10,0,2,1,0,0.200,4,소,3,12.0,0.750000,4
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.01,8,8,0,0,1,0,0.000,3,소,3,2.0,1.000000,5

In [35]:
df['acc'].value_counts()

5    564
4    280
3    140
2     18
1      1
Name: acc, dtype: int64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   media         1003 non-null   object
 1   a_num         1003 non-null   int64
 2   title         1003 non-null   object
 3   content       1003 non-null   object
 4   w_num         1003 non-null   int64
 5   c_source      1003 non-null   int64
 6   a_source      1003 non-null   float64
 7   s_num         1003 non-null   int64
 8   v_num         1003 non-null   int64
 9   nf_verb       1003 non-null   int64
 10  s_verb        1003 non-null   int64
 11  reporter      1003 non-null   int64
 12  non_text      1003 non-null   int64
 13  ratio_sub     1003 non-null   float64
 14  trust         1003 non-null   int64
 15  text_size     1003 non-null   object
 16  inform        1003 non-null   int64
 17  tot_source    1003 non-null   float64
 18  ratio_source  1003 non-null   float64
 19  acc           1003 non-null   int64
dtypes: float64(4), int64(12), object(4)
memory usage: 156.8+ KB

In [37]:
df.head()

,media,a_num,title,content,w_num,c_source,a_source,s_num,v_num,nf_verb,s_verb,reporter,non_text,ratio_sub,trust,text_size,inform,tot_source,ratio_source,acc
0,경기일보,329412764,"105만 고양시 발전 이끌어온 서기관 6명, 아름다운 퇴장","송주현 기자 왼쪽 위부터)김운용, 이현옥, 이흥민, 노양호, 정종현, 신승일 \r\...",1176,6,1.00,18,16,0,8,1,0,0.500,4,중,4,7.0,0.857143,4
1,경기일보,329412768,고양시 새해에는 교통난 해결될까 관심,송주현 기자 \r\n고양시민들이 출·퇴근길 겪고 있는 교통 불편이 새해에는 개선될 ...,1197,3,1.00,14,16,0,6,1,0,0.375,3,중,4,4.0,0.750000,4
2,경기일보,329412771,"안양시, 오는 2022년까지 일자리 10만6천개 창출 목표",박준상 기자 \r\n기해년을 맞은 안양시가 향후 4년간 일자리 10만6천여개 창출을...,884,2,0.01,9,10,0,0,1,0,0.000,3,소,3,2.0,1.000000,5
3,경기일보,329412773,"오명근 의원, 평택 고평지구 학군조정을 위한 의견수렴 간담회 개최",최현호 기자 \r\n경기도의회 건설교통위원회 소속 오명근 의원(더불어민주당ㆍ평택4)...,759,9,3.00,9,10,0,2,1,0,0.200,4,소,3,12.0,0.750000,4
4,경기일보,329412774,"화성시, 2020년까지 신규 일자리 13만개 창출...일자리 대책 청사진 공개",홍완식 기자 \r\n화성시가 새해를 맞아 민선7기 지역맞춤형 일자리 대책의 청사진을...,937,2,0.01,8,8,0,0,1,0,0.000,3,소,3,2.0,1.000000,5

In [38]:
df['text_size'].value_counts()

소    570
중    362
대     71
Name: text_size, dtype: int64

In [39]:
df['trust'].value_counts()

4    511
3    256
5    141
2     48
1     47
Name: trust, dtype: int64

In [40]:
df['inform'].value_counts()

3    559
4    279
2    103
5     52
1     10
Name: inform, dtype: int64

In [41]:
df['acc'].value_counts()

5    564
4    280
3    140
2     18
1      1
Name: acc, dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   media         1003 non-null   object
 1   a_num         1003 non-null   int64
 2   title         1003 non-null   object
 3   content       1003 non-null   object
 4   w_num         1003 non-null   int64
 5   c_source      1003 non-null   int64
 6   a_source      1003 non-null   float64
 7   s_num         1003 non-null   int64
 8   v_num         1003 non-null   int64
 9   nf_verb       1003 non-null   int64
 10  s_verb        1003 non-null   int64
 11  reporter      1003 non-null   int64
 12  non_text      1003 non-null   int64
 13  ratio_sub     1003 non-null   float64
 14  trust         1003 non-null   int64
 15  text_size     1003 non-null   object
 16  inform        1003 non-null   int64
 17  tot_source    1003 non-null   float64
 18  ratio_source  1003 non-null   float64
 19  acc           1003 non-null   int64
dtypes: float64(4), int64(12), object(4)
memory usage: 156.8+ KB

In [43]:
df.to_excel('labeled_0827_1003.xlsx', index=False)